.textinput {
  margin: 1.5rem 0;
}

.textinput__input {
  width: 100%;
  background: none;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2rem;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  outline: none;
  padding: 0.25rem 0;
}

.textinput__input::placeholder {
  color: #FFFFFF;
}


.textinput__error {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  margin: 0.125rem 0;
}

.textinput__error:after {
  content: '';
  display: table;
  width: 17px;
  height: 15px;
  margin: 4px 0;
  background-image: url('./assets/Icon_Error@2x.png');
  background-size: cover;
  float: right;
}
