.locationselector__dropdown {
}

.locationselector__dropdown .dropdown button {
  color: #FFFFFF;
  font-size: 2.25rem;
  line-height: 2.75rem;
  height: 3.625rem;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 0.4375rem 2.0rem;
  background: none;
  text-align: left;
}

.locationselector__dropdown .dropdown button .caret {
  float: right;
  margin: 1.125rem 0;
}

.locationselector__dropdown .dropdown.open button,
.locationselector__dropdown .dropdown.open button:focus,
.locationselector__dropdown .dropdown.open button:hover,
.locationselector__dropdown .dropdown button:active,
.locationselector__dropdown .dropdown button:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background: none;
}

.locationselector__dropdown .dropdown-menu {
  width: 100%;
  max-height: 350px;
  overflow: auto;
}

.locationselector__image {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -6px;
}
