html {
  font-size: 12px;
}

@media (max-width: 640px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 8px;
  }
}

.app {
  padding-top: 6.1875rem;
  min-height: calc(100vh - 2.5rem);
}

.app > div {
  min-height: calc(100vh - 6.1875rem - 2.5rem);
}
